@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&family=Zain:wght@200;300;400;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir.woff2") format("woff2"),
    url("/fonts/Vazir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@media print {
  body {
    margin: 0 !important;
  }
}

.main-container {
  font-family: "Lato";
}

.ck-content {
  font-family: "Lato";
  line-height: 1.6;
  word-break: break-word;
}

@media only screen and (min-width: 600px) {
  .editor-container_classic-editor .editor-container__editor {
    min-width: 60vw;
    max-width: 80vw;
  }
}

@media only screen and (max-width: 600px) {
  .editor-container_classic-editor .editor-container__editor {
    min-width: 95vw;
    max-width: 355px;
  }
}
